@model IEnumerable<GS_MVC.Models.ProductListItem>
@using GS_MVC.Components

<h2>Products</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered, new { Products = Model }))

